# Should point to the rt.jar of Java 8.
# You may comment this property out, but for releases it should be set,
# so Java 8 incompatibilities will cause compilation-time errors.
boot.classpath=C:/Program Files/Java/jdk1.8.0/jre/lib/rt.jar
