@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?-yqb5q4');
  src: url('fonts/icomoon.eot?#iefix-yqb5q4') format('embedded-opentype'), url('fonts/icomoon.woff?-yqb5q4') format('woff'), url('fonts/icomoon.ttf?-yqb5q4') format('truetype'), url('fonts/icomoon.svg?-yqb5q4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
html {
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  color: #333333;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-weight: normal;
  background-color: #fff;
}
body {
  margin: 0;
  font-size: 14px;
}
a {
  color: #0050b2;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #0050b2;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 21px;
}
code,
pre {
  font-size: 13px;
  font-family: Courier, Monaco, Consolas, "Courier New", monospace;
  -webkit-font-smoothing: antialiased;
}
code {
  background-color: #f9f9f9;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  padding: 1px 3px;
  color: #6D180B;
}
pre {
  display: block;
  border: 1px solid #e4e4e4;
  padding: 6px 12px;
  background-color: #f9f9f9;
  word-break: normal;
  word-wrap: break-word;
  white-space: pre;
  margin: 0 0 9px;
}
img {
  border: 0;
  vertical-align: middle;
}
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}
input[type=search],
::-webkit-search-cancel-button,
::-webkit-search-results-button {
  -webkit-appearance: none;
}
table {
  border: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}
.header-top-bg {
  background-color: #0050b2;
  background-image: -webkit-radial-gradient(50% 15px, circle, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 420px, #000c3d 1050px, #000c3b 100%), url(img/patterned-bg.png);
  background-image: radial-gradient(circle at 50% 15px, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 420px, #000c3d 1050px, #000c3b 100%), url(img/patterned-bg.png);
  box-shadow: 0 3px 9px #c1c1c1;
  border-bottom: 3px solid #003270;
  position: relative;
  z-index: 2;
}
.header-top {
  text-align: center;
  padding: 12px 0;
}
@media (min-width: 768px) {
  .header-top {
    padding-bottom: 18px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.logo {
  color: #fff;
  font-size: 30px;
  line-height: 1;
  padding: 6px 0 0;
  display: block;
}
.tabs {
  list-style-type: none;
  margin: 0;
  padding: 6px 0 0;
  text-align: center;
}
.tabs li {
  display: inline-block;
}
.tabs li.current a {
  color: #fff;
  font-weight: 500;
}
.tabs li:after {
  width: 1px;
  background-color: #96a5b8;
  height: 9px;
  display: inline-block;
  content: '';
  margin: 0 15px;
}
.tabs li:last-child:after {
  display: none;
}
.tabs li a {
  color: #c9dbf1;
}
.header-bottom-bg {
  background-color: #efefef;
  border-bottom: 1px solid #dedede;
  box-shadow: 0 0 7px #eee;
  position: relative;
  z-index: 1;
}
.header-bottom {
  padding: 12px 0;
}
@media (min-width: 768px) {
  .header-bottom {
    padding: 12px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
}
.header-bottom .category {
  display: none;
  color: #0050b2;
  font-size: 24px;
  line-height: 1;
}
@media (min-width: 768px) {
  .header-bottom .category {
    display: block;
  }
}
.header-bottom .header-left {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.header-bottom .header-left,
.header-bottom .header-right {
  padding: 6px 0 0;
}
.header-bottom .header-right {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 300px;
  -ms-flex: 0 0 300px;
  flex: 0 0 300px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
@media (min-width: 768px) {
  .header-bottom .header-right {
    display: block;
  }
}
.header-bottom .notices {
  margin: 0 0 6px;
  display: block;
  font-size: 12px;
}
@media (min-width: 768px) {
  .header-bottom .notices {
    font-size: 14px;
    text-align: center;
  }
}
.header-bottom .notices strong {
  font-weight: normal;
  border-bottom: 1px solid #8fafd7;
}
.header-bottom .notices a:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e609";
  width: 14px;
  height: 14px;
  display: inline-block;
  position: relative;
  top: 1px;
  margin-right: 3px;
}
.site-content {
  padding-top: 1px;
  padding-bottom: 1px;
}
.page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 42px;
  padding-bottom: 42px;
  min-height: 600px;
  position: relative;
}
.page-content.no-toc {
  display: block;
}
.page-content .col-left {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 130px;
  -ms-flex: 0 0 130px;
  flex: 0 0 130px;
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  margin-right: 12px;
}
@media (min-width: 768px) {
  .page-content .col-left {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    max-width: 240px;
    margin-right: 48px;
  }
}
.page-content .col-right {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.page-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.page-title h1 {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
}
@media (min-width: 768px) {
  .page-title h1 {
    font-size: 30px;
  }
}
.page-title .subtitle {
  display: block;
  font-size: 14px;
}
@media (min-width: 768px) {
  .page-title .subtitle {
    font-size: 24px;
  }
}
.site-footer {
  border-top: 3px solid #003270;
  background-color: #0050b2;
  background-image: -webkit-radial-gradient(50% -50px, ellipse, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 24%, #000c3b 86%, #000c3b 100%), url(img/patterned-bg.png);
  background-image: radial-gradient(ellipse at 50% -50px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 24%, #000c3b 86%, #000c3b 100%), url(img/patterned-bg.png);
  color: #fff;
}
.site-footer a {
  color: #fff;
}
.site-footer a:hover {
  color: rgba(255, 255, 255, 0.8);
}
.footer-top {
  padding-top: 12px;
  padding-bottom: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.sitemap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.sitemap .column {
  margin-right: 54px;
}
.sitemap .column:last-child {
  margin-right: 0;
}
.sitemap .column .column-header {
  color: #fff;
  border-bottom: 2px solid #4c76ab;
  margin: 0 0 6px;
  padding-bottom: 6px;
}
.sitemap .column ul {
  padding: 0 9px 0 0;
  margin: 0;
  list-style-type: none;
}
.sitemap .column a {
  display: block;
}
.footer-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 45px 0 30px;
}
.footer-bottom p {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 0 0 6px;
}
.footer-bottom .last-updated {
  font-size: 12px;
  display: block;
}
.breadcrumb {
  list-style-type: none;
  margin: 0;
  padding: 9px 0 0;
  font-size: 12px;
}
@media (min-width: 768px) {
  .breadcrumb {
    font-size: 14px;
  }
}
.breadcrumb li {
  display: inline-block;
}
.breadcrumb li:after {
  content: '/';
  color: #979797;
  margin: 0 6px;
}
.breadcrumb li:last-child:after {
  content: '';
}
.table-of-contents {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
}
@media (min-width: 768px) {
  .table-of-contents {
    font-size: 14px;
  }
}
.table-of-contents ul {
  margin: 0;
  padding: 0;
}
.table-of-contents ul.depth-3 {
  display: none;
}
.table-of-contents ul.depth-2 ul {
  margin: 0 0 0 18px;
}
.table-of-contents ul.depth-2 li {
  list-style-type: none;
}
.table-of-contents ul.depth-2 a {
  color: #555;
}
.table-of-contents li.section {
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
}
.table-of-contents li.section:after {
  height: 1px;
  background-color: #ccc;
  content: '';
  width: 100%;
  display: block;
  margin-top: 30px;
}
.table-of-contents li a {
  display: block;
}
.table-of-contents li a.header {
  color: #0050b2;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 30px;
  display: block;
  width: 100%;
  line-height: 1;
}
.table-of-contents li a:hover {
  color: #666;
}
.search-form {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 28px;
  width: 100%;
  margin-left: 24px;
}
@media (min-width: 768px) {
  .search-form {
    margin-left: 0;
  }
}
.search-form .search-btn {
  color: #0050b2;
  line-height: 1;
  background-color: #fff;
  background-image: none;
  border: 0;
  border-radius: 0;
  padding: 0 3px;
  width: 26px;
  height: 26px;
  position: relative;
  top: -27px;
  float: right;
  right: 1px;
}
.search-form .search-btn:hover {
  color: #4c9cff;
  cursor: pointer;
}
.search-form .search-btn::before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e60a";
  font-size: 18px;
  width: 18px;
  height: 18px;
}
.search-form .search-input {
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  background-color: #fff;
  background-image: none;
  border: 1px solid #aec0d6;
  border-radius: 0;
  padding: 3px 24px 3px 12px;
  height: 28px;
  width: 100%;
}
.search-form .search-input::-moz-placeholder {
  color: #0050b2;
  opacity: 0.6;
}
.search-form .search-input:-ms-input-placeholder {
  color: #0050b2;
  opacity: 0.6;
}
.search-form .search-input::-webkit-input-placeholder {
  color: #0050b2;
  opacity: 0.6;
}
.pagers {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
}
.pagers.bottom {
  position: absolute;
  bottom: 42px;
  right: 0;
}
.pagers li {
  display: inline-block;
}
.pagers li a {
  display: block;
  height: 22px;
}
.pagers li.previous {
  margin-right: 12px;
}
.pagers li.previous a:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 14px;
  height: 22px;
  display: inline-block;
  line-height: 22px;
  vertical-align: middle;
  position: relative;
  top: -1px;
  content: "\e604";
  margin-right: 6px;
}
.pagers li.next a:after {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 14px;
  height: 22px;
  display: inline-block;
  line-height: 22px;
  vertical-align: middle;
  position: relative;
  top: -1px;
  content: "\e605";
  margin-left: 6px;
}
.social-icons {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.social-icons li {
  display: inline-block;
}
.site-width {
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}
@media (min-width: 768px) {
  .site-width {
    padding-left: 24px;
    padding-right: 24px;
    width: 720px;
  }
}
@media (min-width: 992px) {
  .site-width {
    width: 944px;
  }
}
@media (min-width: 1200px) {
  .site-width {
    width: 1152px;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
