/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.2.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  color: #333333;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-weight: normal;
  background-color: #2e2e2e;
}
body {
  margin: 0;
  font-size: 14px;
}
a {
  color: #0099cc;
  text-decoration: none;
}
a:hover {
  color: #0099cc;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
h1 {
  font-size: 27px;
}
h2 {
  font-size: 21px;
}
code,
pre {
  font-size: 13px;
  font-family: Courier, Monaco, Consolas, "Courier New", monospace;
  -webkit-font-smoothing: antialiased;
}
code {
  background-color: #f9f9f9;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  padding: 1px 3px;
  color: #6D180B;
}
pre {
  display: block;
  border: 1px solid #e4e4e4;
  padding: 6px 12px;
  background-color: #f9f9f9;
  word-break: normal;
  word-wrap: break-word;
  white-space: pre;
  margin: 0 0 9px;
}
img {
  border: 0;
  vertical-align: middle;
}
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}
input[type=search],
::-webkit-search-cancel-button,
::-webkit-search-results-button {
  -webkit-appearance: none;
}
table {
  border: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}
.site-header {
  background: #000000 url(img/diagonal.gif);
  color: #FFF;
}
@media print {
  .site-header {
    color: #000;
  }
}
.site-header .header-top {
  padding-top: 15px;
  padding-bottom: 15px;
}
@media (min-width: 768px) {
  .site-header .header-top {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
.site-header .logo-nav-wrapper {
  text-align: center;
}
@media (min-width: 768px) {
  .site-header .logo-nav-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}
.site-header .logo {
  color: #FFF;
  font-size: 30px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
  line-height: 1;
  padding: 9px 0;
}
@media (min-width: 768px) {
  .site-header .logo::after {
    content: "";
    width: 1px;
    height: 32px;
    margin: 0 27px;
    display: inline-block;
    vertical-align: middle;
    background-color: #4a4a4a;
  }
}
.site-header .tabs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 18px;
  padding: 9px 0;
}
.site-header .tabs li {
  display: inline-block;
  margin: 0 3px;
}
.site-header .tabs li.current a {
  background-color: rgba(62, 169, 225, 0.7);
}
.site-header .tabs li a {
  display: block;
  color: #FFF;
  padding: 3px 24px;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  -webkit-tap-highlight-color: rgba(62, 169, 225, 0.5);
}
.site-header .tabs li a.external::after {
  font-family: FontAwesome;
  line-height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 6px;
  content: "\f14c";
}
.site-header .tabs li a:hover {
  background-color: rgba(62, 169, 225, 0.7);
}
.site-header .tabs li a:focus {
  background-color: rgba(62, 169, 225, 0.7);
}
.site-header .navigation {
  padding: 9px 0;
  border-top: 4px solid #4a4a4a;
  background-color: rgba(74, 74, 74, 0.5);
}
@media print {
  .site-header .navigation {
    border-top: 0;
  }
}
.site-header .navigation a {
  color: #6badcf;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}
.site-header .navigation a:hover,
.site-header .navigation a:focus {
  text-decoration: underline;
}
.site-header .navigation .site-width {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.content-outer {
  background-color: #E2E2E2;
}
.site-content {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.site-content a {
  word-break: break-word;
}
.site-content a:hover {
  text-decoration: underline;
}
@media (min-width: 768px) {
  .page-content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
.page-content .col-left {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
@media (min-width: 768px) {
  .page-content .col-left {
    width: 300px;
  }
}
@media (min-width: 1420px) {
  .page-content .col-left {
    min-width: 300px;
    max-width: 400px;
  }
}
.page-content .col-right {
  width: 100%;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.page-content .col-right > :first-child {
  margin-top: 0;
}
.page-header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 24px;
  padding-top: 6px;
  padding-bottom: 24px;
}
.page-header .title-wrapper h1 {
  font-size: 36px;
  margin-top: 0;
}
@media print {
  .page-header .title-wrapper h1 {
    font-size: 24px;
  }
}
.page-header .title-wrapper .subtitle {
  font-size: 21px;
  display: block;
}
.page-header .title-wrapper > :last-child {
  margin-bottom: 0;
}
.site-footer {
  border-top: 4px solid #4a4a4a;
  color: #999999;
  font-weight: 300;
  padding-bottom: 24px;
}
@media print {
  .site-footer {
    border-top: 0;
  }
}
.site-footer p {
  margin: 0;
}
.site-footer a {
  color: #B9B9B9;
  -webkit-transition: color ease-in-out 0.2s;
  transition: color ease-in-out 0.2s;
}
.site-footer a:hover {
  color: #ccc;
}
.site-footer .footer-inner {
  padding-top: 12px;
  text-align: center;
}
@media (min-width: 768px) {
  .site-footer .footer-inner {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: left;
  }
}
.site-footer .footer-inner .footer-title {
  margin-top: 12px;
}
.site-footer .footer-inner .social-icons {
  margin-top: 24px;
}
@media (min-width: 768px) {
  .site-footer .footer-inner .social-icons {
    margin-top: 6px;
  }
}
.site-footer .copyright {
  text-align: center;
  font-size: 12px;
  margin-top: 24px;
}
.site-footer .copyright .legal {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.site-footer .copyright .legal li {
  display: inline-block;
}
.site-footer .copyright .legal li:first-child::after {
  content: "·";
  margin: 0 4px;
}
.breadcrumb {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.breadcrumb li {
  display: inline-block;
}
.breadcrumb li::after {
  font-family: FontAwesome;
  line-height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 9px;
  margin-right: 9px;
  content: "\f0da";
  color: #929292;
  width: 6px;
  display: inline-block;
}
.breadcrumb li:last-child::after {
  content: "";
  margin: 0;
  width: 0;
}
.breadcrumb li a {
  display: inline-block;
}
.table-of-contents {
  font-size: 14px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.table-of-contents ul {
  padding: 0 0 0 16px;
  list-style-type: none;
}
.table-of-contents li::before {
  font-family: FontAwesome;
  line-height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f0d7";
  display: block;
  float: left;
  width: 10px;
  cursor: pointer;
  font-size: 12px;
  color: #666;
  line-height: 21px;
}
.expanded.table-of-contents li::before {
  content: '' !important;
}
.table-of-contents li.current::before {
  content: "\f0d7";
}
.table-of-contents li.closed::before {
  content: "\f0da";
}
.expanded.table-of-contents li.closed::before {
  content: "\f0d7";
}
.table-of-contents li.closed ul {
  display: none;
}
.expanded.table-of-contents li.closed ul {
  display: block;
}
.table-of-contents li.childless {
  padding-left: 12px;
}
.table-of-contents li.childless::before {
  content: '';
  width: auto;
}
.table-of-contents li.depth-0::before {
  line-height: 24px;
}
.table-of-contents li.depth-0 > a {
  font-weight: 400;
  font-size: 16px;
  color: #333333;
}
.expanded.table-of-contents li.depth-1 > a {
  color: #666;
}
.expanded.table-of-contents li.internal,
.expanded.table-of-contents li.childless {
  display: none;
}
.table-of-contents a {
  display: block;
  white-space: nowrap;
}
.table-of-contents a:hover span {
  background-color: #e3e3e3;
}
.table-of-contents a span {
  display: inline-block;
  padding: 0 2px;
  white-space: normal;
}
.search-form {
  min-width: 100px;
  width: 100%;
  position: relative;
}
@media print {
  .search-form {
    display: none;
  }
}
@media (min-width: 992px) {
  .search-form {
    max-width: 300px;
  }
}
@media (min-width: 1200px) {
  .search-form {
    max-width: 400px;
  }
}
.search-form .search-box {
  padding: 3px 12px;
  background: none;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #4a4a4a;
  height: 36px;
  line-height: 24px;
  color: #FFF;
  width: 100%;
  font-family: Helvetic, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  -webkit-transition: border-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
  transition: border-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
  border-radius: 0;
}
.search-form .search-box:focus {
  outline: 0;
  box-shadow: 1px 1px 3px #000;
  border-color: #2c5f79;
}
.search-form .search-box:focus + .search-btn {
  color: #2c5f79;
}
.search-form .search-btn {
  position: absolute;
  top: 1px;
  right: 0;
  border: 0;
  background: rgba(0, 0, 0, 0);
  border-radius: 0;
  font-size: 17px;
  height: 34px;
  color: #4a4a4a;
  -webkit-transition: color ease-in-out 0.2s;
  transition: color ease-in-out 0.2s;
  cursor: pointer;
  padding: 0 12px;
}
.search-form .search-btn:focus,
.search-form .search-btn:hover {
  outline: 0;
  color: #2C5F79;
}
.search-form .search-btn::-ms-clear {
  display: none;
}
.search-form .search-btn::before {
  font-family: FontAwesome;
  line-height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f002";
}
.pagers {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.pagers.top {
  margin-bottom: 12px;
}
.pagers.bottom {
  margin-top: 36px;
}
@media print {
  .pagers {
    display: none;
  }
}
.pagers li {
  display: inline-block;
}
.pagers li a {
  min-width: 100px;
  display: block;
  white-space: nowrap;
}
.pagers li.previous a::before {
  font-family: FontAwesome;
  line-height: 100%;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 9px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  font-size: 13px;
  margin-right: 6px;
  content: "\f053";
}
.pagers li.next a {
  text-align: right;
}
.pagers li.next a::after {
  font-family: FontAwesome;
  line-height: 100%;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 9px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  font-size: 13px;
  content: "\f054";
  margin-left: 6px;
}
.pagers .pager-label {
  margin-right: 3px;
}
.bookmarks {
  padding: 3px 0;
}
@media print {
  .bookmarks {
    display: none;
  }
}
.bookmarks .bookmark-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
}
.bookmarks .bookmark-list li {
  display: inline-block;
  margin-left: 3px;
}
.bookmarks .bookmark-list li::after {
  content: ", ";
}
.bookmarks .bookmark-list li:last-child::after {
  content: "";
}
.callout {
  display: block;
  margin: 9px 0;
  border-left: 3px solid #aaa;
  padding-left: 9px;
}
.warning.callout {
  border-left-color: #f54927;
}
.callout + .callout {
  margin-top: 18px;
}
.callout .callout-label {
  font-weight: normal;
  display: inline-block;
}
.callout .callout-label::before {
  font-family: FontAwesome;
  line-height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 3px;
}
.note.callout .callout-label::before {
  color: #666;
  content: "\f05a";
}
.warning.callout .callout-label::before {
  color: #f54927;
  content: "\f06a";
}
.callout p {
  display: inline-block;
  margin: 0 0 6px;
}
.callout p:last-child {
  margin-bottom: 0;
}
.programmers-note {
  color: #8158ad;
}
.programmers-note::before {
  font-family: FontAwesome;
  line-height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 3px;
  color: #8158ad;
  content: "\f121";
}
.code-block {
  display: block;
  border-color: #999;
}
@media (min-width: 768px) {
  .code-block {
    min-width: 300px;
  }
}
.code-block.code-template {
  background-color: #dcdcdc;
}
.code-block.code-data-model {
  background-color: #9cf;
}
.code-block.code-output {
  background-color: #cfc;
}
.code-block.code-unspecified {
  background-color: #f8f8f8;
}
.table {
  border: 1px solid #e4e4e4;
  width: 100%;
}
.table th,
.table td {
  vertical-align: top;
  border: 1px solid #e4e4e4;
  padding: 3px 6px;
}
.table th {
  font-weight: normal;
  text-align: left;
  background-color: #f9f9f9;
}
@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 9px;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}
.social-icons {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media print {
  .social-icons {
    display: none;
  }
}
.social-icons li {
  display: inline-block;
}
.social-icons li:last-child a {
  padding-right: 0;
}
.social-icons li a {
  display: block;
  padding: 3px 6px;
}
.social-icons li a::before {
  font-family: FontAwesome;
  line-height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 3px;
}
.social-icons li a.twitter::before {
  content: "\f099";
}
.social-icons li a.github::before {
  content: "\f09b";
}
.social-icons li a.stack-overflow::before {
  content: "\f16c";
}
.site-width {
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}
@media (min-width: 768px) {
  .site-width {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .site-width {
    width: 944px;
  }
}
@media (min-width: 1200px) {
  .site-width {
    width: 1152px;
  }
}
@media (min-width: 1420px) {
  .site-width {
    width: 1372px;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
